{
  "openapi": "3.1.0",
  "info": {
    "title": "HumanStandard Detector API",
    "description": "AI music detection API. Submit audio, get a verdict.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://app.jobsbyhumans.com" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/analyze": {
      "post": {
        "summary": "Analyze a single audio track",
        "description": "Submit a single track for analysis. Returns a job_id immediately. Poll /api/jobs/{job_id}/status until complete.",
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "description": "Pass `full` to extend the polled result with risk_segments and tier_verdicts.",
            "required": false,
            "schema": { "type": "string", "enum": ["full"] }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Audio file upload" }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "description": "Publicly accessible audio URL" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job accepted; poll the returned job_id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string", "example": "queued" }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid API key" },
          "429": { "description": "Rate limit reached" }
        }
      }
    },
    "/api/jobs/{job_id}/status": {
      "get": {
        "summary": "Poll a single-track job",
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "detail", "in": "query", "required": false, "schema": { "type": "string", "enum": ["full"] } }
        ],
        "responses": {
          "200": {
            "description": "Current job status. When `status` is `complete`, `result` contains the analysis.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["queued", "processing", "complete", "failed"] },
                    "result": { "$ref": "#/components/schemas/AnalysisResult" }
                  }
                }
              }
            }
          },
          "404": { "description": "Job not found" }
        }
      }
    },
    "/bulk/jobs": {
      "post": {
        "summary": "Submit a bulk analysis job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items"],
                "properties": {
                  "name": { "type": "string" },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["item_id", "url"],
                      "properties": {
                        "item_id": { "type": "string" },
                        "url": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string" },
                    "results_url": { "type": "string" },
                    "summary_url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk/jobs/{job_id}/results": {
      "get": {
        "summary": "Stream bulk job results (NDJSON)",
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "detail", "in": "query", "required": false, "schema": { "type": "string", "enum": ["full"] } }
        ],
        "responses": {
          "200": {
            "description": "NDJSON stream — one AnalysisResult (with item_id) per line.",
            "content": {
              "application/x-ndjson": {
                "schema": { "$ref": "#/components/schemas/BulkResultRecord" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "API key issued from the dashboard. Format: `hs_...`" }
    },
    "schemas": {
      "AnalysisResult": {
        "type": "object",
        "required": ["verdict", "confidence", "risk_timeline", "duration_sec", "model_version", "processed_at"],
        "properties": {
          "verdict": { "type": "string", "enum": ["ai", "human", "uncertain"] },
          "confidence": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "origin": { "type": "string", "nullable": true, "description": "Detected generator when AI (suno, udio, elevenlabs, etc.)" },
          "origin_confidence": { "type": "number", "format": "float", "nullable": true, "minimum": 0, "maximum": 1 },
          "risk_timeline": {
            "type": "array",
            "items": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
            "description": "Per-window AI probability (~2.5s windows)"
          },
          "duration_sec": { "type": "number", "format": "float" },
          "model_version": { "type": "string" },
          "processed_at": { "type": "string", "format": "date-time" },
          "risk_segments": {
            "type": "array",
            "description": "Present only when ?detail=full",
            "items": {
              "type": "object",
              "properties": {
                "start": { "type": "number" },
                "end": { "type": "number" },
                "risk": { "type": "number", "minimum": 0, "maximum": 1 }
              }
            }
          },
          "tier_verdicts": {
            "type": "object",
            "description": "Present only when ?detail=full. Each value uses the same ai/human/uncertain taxonomy as `verdict`.",
            "properties": {
              "press_safe": { "type": "string", "enum": ["ai", "human", "uncertain"], "nullable": true },
              "human_safe": { "type": "string", "enum": ["ai", "human", "uncertain"], "nullable": true },
              "recall": { "type": "string", "enum": ["ai", "human", "uncertain"], "nullable": true }
            }
          }
        }
      },
      "BulkResultRecord": {
        "allOf": [
          { "$ref": "#/components/schemas/AnalysisResult" },
          {
            "type": "object",
            "required": ["item_id"],
            "properties": {
              "item_id": { "type": "string", "description": "Identifier you supplied at submit time" },
              "status": { "type": "string", "enum": ["success", "failed"] },
              "error": { "type": "string", "nullable": true },
              "error_code": { "type": "string", "nullable": true }
            }
          }
        ]
      }
    }
  }
}
